*background:  #303030
*foreground:  #d7d7d7
*cursorColor: #87afd7
*color0:      #303030
*color8:      #303030
*color1:      #ff5f5f
*color9:      #ff5f5f
*color2:      #afd787
*color10:     #afd787
*color3:      #d7d7af
*color11:     #d7d7af
*color4:      #87d7ff
*color12:     #87d7ff
*color5:      #d7afd7
*color13:     #d7afd7
*color6:      #87d7af
*color14:     #87d7af
*color7:      #d7d7d7
*color15:     #d7d7d7

URxvt*depth: 32
URxvt*buffered: true
URxvt*geometry: 92x40
URxvt*scrollBar: false
URxvt*visualBell: true
URxvt*loginShell: true
URxvt*saveLines: 4096
URxvt*dpi: 96
URxvt*antialias: true
URxvt*rgba: rgb
URxvt*hinting: true
URxvt*hintstyle: hintfull
URxvt*font: xft:DejaVu Sans Mono:pixelsize=13:spacing=mono
URxvt*boldfont: xft:DejaVu Sans Mono Bold:pixelsize=13:spacing=mono

! Set window title string, the default title is the command-line specified
! URxvt*title: string

! Internal border of number pixels. This resource is limited to 100; option
! URxvt*internalBorder: number

! External border of number pixels. This resource is limited to 100; option
! URxvt*externalBorder: number

! True: handle Meta (Alt) + keypress to set the 8th bit. False: handle Meta
! URxvt*meta8: boolean

! True: the mouse wheel scrolls a page full. False: the mouse wheel scrolls
! URxvt*mouseWheelScrollPage: boolean

! True: store tabs as wide characters. False: interpret tabs as cursor
! URxvt*pastableTabs: boolean

! True: blink the cursor. False: do not blink the cursor [default]; option
! URxvt*cursorBlink: boolean

! True: Make the cursor underlined. False: Make the cursor a box [default];
! URxvt*cursorUnderline: boolean

! True: blank the pointer when a key is pressed or after a set number of
! URxvt*pointerBlank: boolean

! The string to send when the backspace key is pressed. If set to DEC or unset
! URxvt*backspacekey: string

! The string to send when the delete key (not the keypad delete key) is
! URxvt*deletekey: string

! The characters used as delimiters for double-click word selection
! URxvt*cutchars: string

! 
! URxvt*{|}

! OverTheSpot, OffTheSpot, Root; option -pt.
! URxvt*preeditType: style

! name of inputMethod to use; option -im.
! URxvt*inputMethod: name

! The locale to use for opening the IM. You can use an "LC_CTYPE" of e.g.
! URxvt*imLocale: name

! Specify the font-set used for XIM styles "OverTheSpot" or "OffTheSpot". It
! URxvt*imFont: fontset

! Change the meaning of triple-click selection with the left mouse button.
! URxvt*tripleclickwords: boolean

! Enables "insecure" mode. Rxvt-unicode offers some escape sequences that echo
! URxvt*insecure: boolean

! Set the key to be interpreted as the Meta key to: alt, meta, hyper, super,
! URxvt*modifier: modifier

! Specify the reply rxvt-unicode sends to the shell when an ENQ (control-E)
! URxvt*answerbackString: string

! Turn on/off secondary screen (default enabled).
! URxvt*secondaryScreen: boolean

! Turn on/off secondary screen scroll (default enabled). If this option is
! URxvt*secondaryScroll: boolean

! Turn on/off hold window after exit support. If enabled, urxvt will not
! URxvt*hold: boolean

! Sets the working directory for the shell (or the command specified via -e).
! URxvt*chdir: path

! Compile frills: Associate action with keysym sym. The intervening resource
! URxvt*keysym.sym: action

! URxvt*perl-ext-common: string

! Comma-separated list(s) of perl extension scripts (default: "default") to
! URxvt*perl-ext: string

! Perl code to be evaluated when all extensions have been registered. See the
! URxvt*perl-eval: string

! Colon-separated list of additional directories that hold extension scripts.
! URxvt*perl-lib: path

! Additional selection patterns, see the urxvtperl(3) manpage for details.
! URxvt*selection.pattern-idx: perl-regex

! Selection auto-transform patterns, see the urxvtperl(3) manpage for details.
! URxvt*selection-autotransform.idx: perl-transform

! This resource is deprecated and will be removed. Use a keysym resource
! URxvt*searchable-scrollback: keysym *DEPRECATED*

! Specifies the program to be started with a URL argument. Used by the
! URxvt*url-launcher: string

! Compile frills: Sets the WM_TRANSIENT_FOR property to the given window id.
! URxvt*transient-for: windowid

! Compile frills: Sets override-redirect for the terminal window, making it
! URxvt*override-redirect: boolean

! Turn on/off ISO 14755 (default enabled).
! URxvt*iso14755: boolean

! Turn on/off ISO 14755 5.2 mode (default enabled).
! URxvt*iso14755_52: boolean


